<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Little Cloud</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Welcome to <br><b>My Little Cloud</b></h1>
      <h3>What is the weather?</h3>
      <h2>Type in the city & country name to find out:</h2>
      <form method = "post" action="/result">
        City: <input type="text" name="city_name" size="auto">
        Country: <input type="text" name="country_name" size="auto"> 
        <input type="image" src="http://shirtsnstuff.biz/files/resized/67181/170;170;34fe6b4ef147f51fa9b9405f02017395a69579cb.png" alt="submit" width="20" value="submit">
         
        
      </form>
    </div>
    
  </body>
</html>
